<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>매장 예약</title>
</head>
<body>
<h1>매장 예약</h1>
<div>
    <form method="post" action="/user/reservation">
        <div>
            <input type="number" name="storeId" placeholder="예약할 매장 번호" required/>
        </div>
        <div>
            <input type="text" name="storeName" placeholder="예약할 매장명" required/>
        </div>
        <div>
            <button type="submit">매장 예약</button>
        </div>
    </form>
</div>
</body>
</html>