<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>홈페이지</title>
</head>

<body>
<h1> 홈 </h1>
<div>
    <a href="/user/register">사용자 회원 가입</a>
    <a href="/user/login">사용자 로그인</a>
    <a href="/user/logout">사용자 로그아웃</a>
    <a href="/user/reservation">사용자 매장 예약</a>
</div>
<div>
    <a href="/partner/register">파트너 회원 가입</a>
    <a href="/partner/login">파트너 로그인</a>
    <a href="/partner/logout">파트너 로그아웃</a>
    <a href="/partner/store_register">파트너 매장등록</a>
</div>
<div>
    <a href="/user/reservation_list">예약한 매장 확인</a>
    <a href="/partner/storeList">파트너 매장 확인</a>
    <a href="/store/list">등록된 매장 확인</a>
</div>
</body>
</html>